---
volumes:
  cowrie-etc:
  cowrie-var:


services:
  cowrie:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    # image: cowrie/cowrie:latest  # 改用本地构建
    restart: always
    ports:
      - "2222:2222"
      - "2223:2223"
    volumes:
      - cowrie-etc:/cowrie/cowrie-git/etc
      - cowrie-var:/cowrie/cowrie-git/var
